@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 320;
    font-family: Oswald, sans-serif;
    box-sizing: border-box;
    color: whitesmoke
}

body {
    background: url("../images/moon.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: #021024;
}


/* heading and logo */

h1 {
    font-weight: bold;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: -.2em;
    margin-bottom: 0;
}


/* navigation link back to homepage on top left of page, 
lablled Apollo 11 with astronaut icon */

nav {
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
}

.brand_logo {
    float: left;
    font-size: 180%;
    margin-left: 30px;
}

.brand_logo a {
    text-decoration: none;
    color: inherit;
    text-shadow: 0 0 10px teal;
}

a {
    color: teal;
}


/* hamburger menu on top right of each page */

.hamburger-menu {
    border-radius: 5px;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    padding: 0px;
    margin: 25px;
    margin-right: 25px;
    font-family: Oswald, sans-serif;
    text-shadow: 0 0 2px whitesmoke;
    background: linear-gradient(to bottom,
            teal, teal 20%,
            #021024 20%, #021024 40%,
            teal 40%, teal 60%,
            #021024 60%, #021024 80%,
            teal 80%, teal 100%);
}

.hamburger-menu .sidebar-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100%;
    background: url("../images/hamburger.png") center no-repeat;
    background-size: 7vh;
    background-position: bottom;
    background-color: teal;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
    opacity: 0.95;
}

.hamburger-menu:focus .sidebar-menu,
.hamburger-menu:focus-within .sidebar-menu {
    visibility: visible;
    right: 0;
}

.hamburger-menu h3 {
    color: #021024;
    font-size: 2.2rem;
}

.hamburger-menu ul {
    padding-right: 0px;
}

.hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

.hamburger-menu a {
    color: #021024;
    font-size: 1.3rem;
    text-decoration: none;
}

.hamburger-menu a:hover {
    text-decoration: underline;
}



/* form box styling */

form {
    font-weight: lighter;
    text-align: center;
    margin: auto;
    margin-top: 15vh;

}

.formbox {
    margin: auto;
    width: 350px;
    height: 40px;
}

input {
    border-radius: 25px;
    width: 350px;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    text-shadow: 0 0 5px teal;
    outline: none;
    font-size: 20px;
    border: 1px solid whitesmoke;
    background-color: #021024;
    opacity: 0.85;
}

button {
    margin: 5px;
    width: 350px;
    height: 40px;
    font-size: 20px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    background-color: teal;

}

.subbutton {
    border-radius: 25px;
    margin: 5px;
    width: 350px;
    height: 40px;
    font-size: 20px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    background-color: teal;
    font-weight: lighter;
    letter-spacing: 2px;
}

.subbutton:hover {
    -webkit-box-shadow: 0px 15px 30px teal;
    -moz-box-shadow: 0px 15px 30px teal;
    box-shadow: 0px 15px 30px teal;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

form h1 {
    margin-bottom: 20px;

}

::placeholder {
    color: whitesmoke;
    font-weight: lighter;
    letter-spacing: 2px;
}


/* footer styling */

footer {
    position: fixed;
    text-align: center;
    bottom: 10%;
    width: 100%;
    height: 60px;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 260%;
    margin: 1%;
    padding: 5%;
    color: teal;
    text-shadow: 0 0 5px white;
}