@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    /* color: whitesmoke */
    }

body {
    display: flex;
    font-weight: 300;
    justify-content: center;
    height: 100vh;
    background: url("../images/moon.png") no-repeat;
    background-size: cover;
    background-color: #021024;
}

form {
    margin-top: 25vh;
    text-align: center;
}

input {
    color: whitesmoke;
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    font-size: 20px;
    text-shadow: 0 0 5px teal;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 2px solid teal;
    background: transparent;
}

button {
    width: 350px;
    height: 40px;
    font-size: 20px;
    background: whitesmoke;
    background-color: teal;
    margin-top: 20px;
    opacity: 0.85;
}

form h1 {
    margin-bottom: 20px;

}

h1 {
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 0 0 5px teal;
   
}

::placeholder {
    color: whitesmoke;
}
