@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: url("../images/moon.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Lato, sans-serif;
  font-weight: 300;
  background-color: #021024;
}

/* heading and logo */

h1,
h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}


/* navigation link back to homepage on top left of page, 
lablled Apollo 11 with astronaut icon */


nav {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
}

.brand_logo {
  float: left;
  font-size: 180%;
  margin-left: 30px;
}

.brand_logo a {
  text-decoration: none;
  color: inherit;
  text-shadow: 0 0 10px teal;
}

a {
  color: teal;
}

/* hamburger menu on top right of each page */

.hamburger-menu {
  width: 50px;
  height: 50px;
  display: block;
  border: none;
  padding: 0px;
  margin: 25px;
  font-family: Oswald, sans-serif;
  background: linear-gradient(to bottom,
      teal, teal 20%,
      #021024 20%, #021024 40%,
      teal 40%, teal 60%,
      #021024 60%, #021024 80%,
      teal 80%, teal 100%);
}

.hamburger-menu .sidebar-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 200px;
  height: 100%;
  background: url("../images/hamburger.png") center no-repeat;
  background-size: 7vh;
  background-position: bottom;
  background-color: teal;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
  opacity: 0.95;
}

.hamburger-menu:focus .sidebar-menu,
.hamburger-menu:focus-within .sidebar-menu {
  visibility: visible;
  right: 0;
}

.hamburger-menu h3 {
  color: #021024;
  font-size: 2.2rem;
}

.hamburger-menu ul {
  padding-right: 0px;
}

.hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

.hamburger-menu a {
  color: #021024;
  font-size: 1.3rem;
  text-decoration: none;
}

.hamburger-menu a:hover {
  text-decoration: underline;
}


/* hero scroll container holding the background, 
foreground & welcome title */

.wrapper {
  display: flex;
  flex-direction: column;
}

.site_title {
  width: 100vw;
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px teal;
}

.astronaut {
  background: url("../images/astronaut.png") no-repeat;
  height: 100vh;
  width: 50vw;
  background-size: contain;
  justify-self: center;
  align-self: center;
}

.blank {
  height: 40vh;
  width: 100vw;
}

.blank2 {
  height: 20vh;
  width: 100vh;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.info {
  font-size: 2rem;
  padding: 2rem;
  background-color: #021024;
  color: white;
}


/* styling for the div with the class called 'info'
on the landing page that contains images and text */

.container {
  margin: 10px auto;
  width: 100%;
  padding: 10px;
}

.img-top {
  float: left;
  width: 50vw;
  border: 1px solid teal;
}

.img-mid {
  width: 100%;
  border: 1px solid teal;
}

.text {
  text-align: justify;
  margin-right: 10px;
}

/* caption for images on the homepage */

h5 {
  color: teal;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
}




/* gallery page styling */

.gallery {
  margin: 5px;
  padding: 4px;
  float: left;
  width: 100vw;
}

.gallery:hover {
  border: 1px solid teal;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  color: white;
}

.desc {
  padding: 15px;
  text-align: center;
}

.gallery_space {
  display: flex;
  flex-direction: row;
}

/* footer styling */

footer {
  height: 10px;
}

.social-media {
  text-align: center;
}

.social-media>li {
  display: inline;
}

.social-media i {
  font-size: 260%;
  margin: 1%;
  padding: 5%;
  color: white;
  text-shadow: 0 0 5px rgb(5, 5, 34);
}




/* media queries */


@media screen and (max-width: 1024px) {
  .gallery_space {
    flex-direction: column;
  }

  .gallery,
  .blank,
  .blank2 {
    width: 100vw;
  }
}