@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: url("../images/moon.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Lato, sans-serif;
  font-weight: 300;
  background-color: #021024;
}

/* hero scroll container holding the background, foreground & welcome title */

.wrapper {
  display: flex;
  flex-direction: column;
}

.site_title {
  width: 100vw;
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px midnightblue;
}


.astronaut {
  background: url("../images/astronaut.png") no-repeat;
  height: 100vh;
  width: 50vw;
  background-size: contain;
  justify-self: center;
  align-self: center;
}

.blank {
  height: 40vh;
  width: 100vw;
}

.blank2 {
  height: 20vh;
  width: 100vh;
}

#para {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/* .title {

  font-size: 2rem;
  color: white;
  text-shadow: 0 0 5px rgb(5, 5, 34);
  text-align: center;
} */



.info {
  font-size: 2rem;
  padding: 2rem;
  background-color: #021024;
  color: white;
}

/* heading and logo */

h1,
h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  /* color: #252525; */
}

/* nav links */
nav {
  color: white;
}


.home-bar {
  display: flex;
  flex-direction: row-reverse;
  /* font-size: 2rem; */
  padding: 0rem;
  /* margin: 5px; */
  background-color: #252525;
  /* color: white; */
  font-size: 130%;
  font-family: Oswald, sans-serif;
}

.navbar {
  /* font-size: 110%; */
  display: flex;
  justify-content: space-between;
  color: white;
}

.brand_logo {
  justify-self: flex-start;
  align-self: flex-start;
  /* color: white; */
}

.menu {
  justify-self: flex-end;
  align-self: flex-end;
}

.menu_item {
  font-size: 130%;
  display: inline;
  margin-right: 50px;
  color: white;
}

.menu_item:hover {
  animation: .1s linear both menu_hover_effect;
}

/* .home-color {
  color: white;
} */

/* .menu-color {
  color: white;
} */

a {
  color: white;
}

a.info {
  color: red;
}



@keyframes menu_hover_effect {
  from {
    color: blue;
  }

  to {
    color: orange;
    font-size: larger;
  }
}

/* footer styling */

footer {
  height: 10px;
}

.social-media {
  text-align: center;
}

.social-media>li {
  display: inline;
}


.social-media i {
  font-size: 260%;
  margin: 1%;
  padding: 5%;
  color: white;
  text-shadow: 0 0 5px rgb(5, 5, 34);
}

/* gallery styling */

div.gallery {
  margin: 5px;
  padding: 4px;
  /* border: 1px solid #ccc; */
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  color: silver;
}

div.desc {
  padding: 15px;
  text-align: center;
}