@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

body {
    background: url("../images/moon.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #021024;
}

#card {
    position: relative;
    width: 320px;
    display: block;
    margin: 100px auto;
    text-align: center;
    font-family: Oswald, sans-serif;
    margin-top: 25vh;
}

#successbox {
    text-shadow: 0 0 10px teal;
    padding: 4em 4em 7em 4em;;
    background-color: #021024;
    display: block;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    opacity: 0.85;
}

#checkmark {
    font-weight: lighter;
    margin-top: 2em;
}

#status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.75em;
    margin-top: -.2em;
    margin-bottom: 0;
}


/* Subscribed message */

#message {
    text-shadow: 0 0 10px teal;
    font-size: 1.5em;
    color: whitesmoke;
    letter-spacing: 2px;
    transition: all 2s ease;
}

#contBtn {
    position: relative;
    top: 1.5em;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    border: 1px solid whitesmoke;
    background: teal;
    color: whitesmoke;
    margin-bottom: 2em;
    padding: .3em 3em;
    border-radius: 25px;
}

#contBtn:hover {
    box-shadow: 0 5px 15px teal;
    -o-transition: all .4s ease;
    transition: all .3s ease;
}